
Visual Micro/Configuration.Debug.vmps.xml

Visual Micro/Compile.vmps.xml

Platfrom.sdf

Platfrom.v12.suo

Platfrom.vcxproj

Visual Micro/.Platfrom.vsarduino.h

Visual Micro/Upload.vmps.xml

Platfrom.vcxproj

Visual Micro/.Platfrom.vsarduino.h

Platfrom.v12.suo

Platfrom.v12.suo

Platfrom.sdf

Visual Micro/Upload.vmps.xml
Platfrom.opensdf
Platfrom.opensdf
Platfrom.opensdf
*.sdf
*.sdf
*.suo
*.vcxproj
